
@model List<CheeseMVC.Models.Cheese>




<h1>View</h1>



@if (Model.Count == 0)
{
    <p>No Cheeses Yet!</p>
}
 

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Rating</th>
        <th>Edit</th>  
    </tr>
    @foreach(Cheese cheese in Model)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
            <td>@cheese.Category.Name</td>
            <td>@cheese.Rating</td>
            <td><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.ID">edit</a></td>
        </tr>
    }
  
</table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>|
<span><a asp-controller="Cheese" asp-action="Delete">Remove Cheese</a></span>

